header {
    background-color: gray;
    color: white;
}
.home-main {
    background-color: black;
    color: white;
}
.coming {
    background-color: gray;
    color: white;
}
.blog {
    background-color: gray;
    color: white;
}
.footer {
    background-color: gray;
    color: white;
}
a {
    color: inherit;
}
a:hover {
    color: inherit;
}