{% extends 'base.html.twig' %}

{% block title %}Hello PracticalInfoController!{% endblock %}

{% block body %}
    <div class="practical-info pt-5" style="background-image: url(/images/infospratiques-bg-page.png)">
        <div class="container py-5 mt-3">
            <div class="row mb-3">
                <div class="practical-info-title">
                    Informations pratiques
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <div class="current-event--main-square practical-info-main-square">HORAIRES</div>
                </div>
                <div class="col-6 d-flex align-items-center practical-info-hours">
                    Du lundi au vendredi : 10h - 19h <br> samedi et dimanche : 10h - 13h
                </div>
            </div>
            <div class="row">
                <div class="col-6 pr-0">
                    <div class="practical-info-text-block">
                        <div class="font-weight-bold mb-3">Les espaces d’expositions pilotés par la Direction générale des affaires culturelles de la Ville de Bordeaux, sont temporairement fermés pour des travaux de rénovation ! Ils ré-ouvriront au premier trimestre 2021 à l’occasion d’une exposition collective intégrée à la saison culturelle Africa 2020 initiée par l’Institut Français.</div>
                        <div class="font-weight-light">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col ml-auto">
                            <div class="current-event--main-square practical-info-main-square">TARIFS ET AVANTAGES</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 mt-4 ml-3 pl-5 practical-info-prices">
                            <div class="mb-2">Gratuité sous conditions *</div><div class="mb-2">Plein tarif : 5€</div><div class="mb-2"> Tarif réduit : 3€ **</div> <div class="mb-2">Groupe d'au moins 10 personnes :</div><div class="mb-2"> 3€ par personne
                            </div><div class="mb-2"> Etudiant : 3€ </div><div class="mb-2"> Etudiant en filières art * (ecole publique) : gratuit </div> Mineurs (moins de 18 ans): gratuit
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4 mb-5 pb-5">
                <div class="col-6 practical-info-legals">
                    ** Gratuit le 1er dimanche du mois (hors juillet et août) Moins de 18 ans Titulaires de la Carte jeunes et accompagnateur majeur Étudiants des filières artistiques des universités et écoles d'art publiques : architecture, histoire de l'art, archéologie, arts plastiques, arts graphiques, design et création industrielle, métiers d'art, photographie, mode et stylisme, patrimoine et paysage Personne handicapée et accompagnateur Bénéficiaires de minimas sociaux (RSA, ASS, ATS, ASPA, ATA) Détenteurs du Pass Musée Bordaux Détenteurs du Pass Pro Détenteurs d'un Bordeaux Métropole City Pass Personnels de la Ville de Bordeaux et de Bordeaux Métropole Personnel de l'école des Beaux-Arts Détenteurs de la carte Grand donateur Journalistes et guides conférenciers Détenteurs de la carte ICOM et de la Icomos Porteurs de la carte Opération Sentinelle
                </div>
                <div class="col-6 practical-info-legals">
                    * Groupes d'adultes d'au moins 10 personnes Étudiants autres que ceux bénéficiant de la gratuité Demandeurs d'emploi Titulaires de la carte famille nombreuse Détenteurs d'un abonnement annuel à la Cité du vin Association des amis du musée des Arts décoratifs et du Design Association des amis du musée d'Aquitaine Société des amis des musées de Bordeaux Amis du musée des Beaux-Arts Association des amis du CAPC et abonnés du CAPC Association Amuseum
                </div>
            </div>
                <div class="social pt-2 background-transparent">
                    <div class="container pt-4">
                        <div class="row">
                            <div class="col text-center mt-5">
                                <div class="section-subtitle">NOUS SUIVRE</div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto text-center">
                                <div class="social-image" style="background-image: url(/images/footer-icon-facebook.png)"></div>
                            </div>
                            <div class="col-auto text-center">
                                <div class="social-image" style="background-image: url(/images/footer-icon-instagram.png)"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
{% block social %}
{% endblock %}
