{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<ul>
    <li><a href="{{ path('expo_index') }}">Expositions</a></li>
    <li><a href="{{ path('booking_index') }}">Réservations</a></li>
</ul>
{% endblock %}
