{% extends 'base.html.twig' %}

{% block title %}Hello PlanningController!{% endblock %}

{% block body %}
<div class="planning position-relative py-5" style="background-image: url(/images/programme-bg-page.png); background-size: cover;">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-auto offset-4 text-center">
                        <div class="planning-archive-info text-center d-flex flex-column">
                            <div class=" justify-content-center text-center">
                                <div class="square-action secondary-square mx-auto position-relative"></div>
                                <div class="hidden-text text-no-flow">Voir des infos sur <br>les archives</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <div>2021</div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="pb-5">
        <div class="container position-relative">
            <div class="white-line">
            </div>
            {% for exposition in expositions %}
                {{ include('planning/event.html.twig', {odd: loop.index is odd, exposition: exposition}) }}
            {% endfor %}
        </div>
    </div>
    <div class="container mt-5 pt-4 pb-4 mb-3">
        <div class="row">
            <div class="col text-center">
                <div>2020</div>
            </div>
        </div>
    </div>
    <div class="container position-relative">
        <div class="white-line second-white-line">
        </div>
        <div class="row pt-5 justify-content-center">
            <div class="col-auto text-center pt-5">
                <div class="square-action secondary-square ternary-square position-relative mx-auto"></div>
                <div class="hidden-text text-no-flow">Voir l'historique</div>
            </div>
        </div>
    </div>
    <div class="my-5 py-5"></div>
    <div class="my-5"></div>
</div>
{% endblock %}
