<div class="blog">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                BLABLA
            </div>
        </div>
    </div>
</div>
<div class="social">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                BLABLA
            </div>
            <div class="col">
                BLABLA
            </div>
            <div class="col">
                BLABLA
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container py-5">
        <div class="row">
            <div class="col-4 offset-4 text-center">
                Footer
            </div>
            <div class="col-auto">
                <div class="d-flex flex-column">
                    <div>Pour les artistes</div>
                    <div>Devenir exposant</div>
                    <div>Laboratoire de travail</div>
                </div>
            </div>
        </div>
    </div>
</footer>